.vscode
Galaxy_container/mountDir/outputData
Nextflow_container/nextflow_example/work
Nextflow_container/nextflow_example/results
Nextflow_container/nextflow_example/.nextflow
Nextflow_container/nextflow_example/.nextflow*
